header{
    background-color: lightblue;
    color: rgb(156, 51, 51);
    font-family:Arial;
    margin: 0px;
    padding: 0px;
}

main{
    background-color:beige;
    color: rgb(27, 26, 26);
    margin: 0px;
}

footer{
    background-color:rgb(93, 68, 153);
    color: rgb(243, 105, 100);
    margin: 0px;
}


a{
    color: green;
    text-decoration: none;
    transition: 0.5s 2s;
}
a:link {
    color: blue;
}
a:visited {
    color: green;
    
}
a:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
    text-decoration: none;
    transition: 0.3s;
}
a:active {
    color: rgb(0, 0, 0);
    opacity: 0.5;
    text-decoration: none;
}

.menu{
    border: 7px solid #8d257380;
    border-radius: 5px;
    width: 300px;
    margin: 0px auto;
    background-color: bisque;
    
}



.menu:hover{
    border: 7px solid #5f3f8a80;
    background-color: #335ead80;
    box-shadow: 1 1 15px rgba(173, 0, 0, 0.188)
}


















.part1{
    color: rgb(50, 55, 131);
    font-size: 17px;
    line-height: 1.5em;
    padding: 5px;
    text-align: justify;
}

h1{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body{ margin: 0px;

}

.part2{
    color: rgb(50, 55, 131);
    font-size: 17px;
    padding: 5px;
    line-height: 1.5em;
    margin: 0px;
    text-shadow: 4px 2px 3px rgba(43, 43, 201, 0.5);
    
}

.part3{
    color: rgb(50, 55, 131);
    font-size: 17px;
    padding: 5px;
    line-height: 1.5em;
    margin: 0px;
    text-shadow: 4px 2px 3px rgba(61, 160, 199, 0.5);  
}

.part4{
    color: rgb(50, 55, 131);
    font-size: 17px;
    padding: 5px;
    line-height: 1.5em;
    margin: 0px;
    text-shadow: 4px 2px 3px rgba(238, 255, 0, 0.5);  
}

.part5{
    color: rgb(50, 55, 131);
    font-size: 17px;
    padding: 5px;
    line-height: 1.5em;
    margin: 0px;
}


.part6{
    color: rgb(50, 55, 131);
    font-size: 17px;
    padding: 5px;
    line-height: 1.5em;
    margin: 0px;
}



.part7{
    color: rgb(50, 55, 131);
    font-size: 17px;
    padding: 5px;
    line-height: 1.5em;
    margin: 0px;
}