body{
    background-color: rgb(0, 108, 141);
    color: rgb(8, 196, 92);
    background-color: rgb(144, 174, 184);
    color: rgb(140, 104, 199);
    font-family: Arial;
    margin: 0px;
}
header{
    background-color: black;
    color: rgb(10, 173, 18);
    padding: 10px;
    font-size: 16pt;
    text-align: center;
}
footer{
    background-color: black;   
    color: aliceblue;
    font-size: 15pt;
    padding: 20px;
    margin: 0px;
    text-align: center;
    font-style: italic
}